.app {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30rem 1fr;
    overflow: scroll;
    

    &__sidebar {
        padding: 4rem 3rem;
        background-color: rgb(220, 220, 220);
        display: flex;
        flex-direction: column;

        &--title {
            margin-bottom: 3rem;
        }
    }

    &__sidebar > div {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem
        
    }

    &__sidebar > div > div {
        border: 1px solid;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem
        
    }

    &__svg {
        height: 100%;
        width: 100%;
    }
}